 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #2b2b2b;
  line-height: 1.6;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo
{
 background: url("images/logo2.png") center/cover no-repeat;
 width:300px;
 height:160px;
 margin-top: 75px;
}


.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #a85a2a;
  font-weight: 500;
}

/* HERO */
.hero {
  background: url("images/img1.png") center/cover no-repeat;
  color: white;
  height: 100vh;
}

/* HERO */
.hero_gal {
  background: url("images/img1.png") center/cover no-repeat;
  color: white;
  height: 50vh;

}

.hero-content {
  max-width: 700px;
  padding: 100px 60px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 12px 26px;
  border: 2px solid #a85a2a;
  background: #a85a2a;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.btn.outline {
  background: transparent;
  color: #a85a2a;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  max-width: 1100px;
  margin: auto;
}

.info{
  font-weight: 100;
  padding-right: 250px;
  padding-left: 250px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.info h2{
  color: #a85a2a;
  text-align: center;
  margin-bottom: 30px;
}


.section h2 {
  font-family: "Poppins", sans-serif;
  color: #a85a2a;
  margin-bottom: 20px;
}

/* SERVICES */
.services ul {
  list-style: none;
}

.logo_gal {
 background: url("images/logo2.png") center/cover no-repeat;
 width:300px;
 height:160px;
 margin-top: 50px;
}

.services li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.leistung{
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  background: url("images/leistung.png") center/cover no-repeat;
  text-align: center;
  align-content: center;
}

.leistung_liste{
  background-color: rgb(247, 247, 247);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 65px;
  text-align: left;
  width: 400px;
  position: relative;
  margin: 0 auto 10px auto;
}

.services li::before {
  content: "✔";
  position: absolute;
  left: 0;
  margin-right: 10px;
  color: rgb(7, 165, 7);
}

/* GALLERY */
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTACT */
.contact-info {
  margin: 20px 0;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
  background: #f5f5f5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav a {
  color: #0e0e0e;
}


  .hero_gal {
  background: url("images/img2.png") center/cover no-repeat;
  color: rgb(2, 2, 2);
  height: 50vh;
}

  .logo{
    background: url("images/logoHandy.png") center/cover no-repeat;
    width: 120px;
    height: 80px;
    margin-top: 5px;
  }

  .info{
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .leistung{
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  background: url("images/leistung.png") center/cover no-repeat;
  text-align: center;
  align-content: center;
}

.leistung_liste{
  background-color: rgb(247, 247, 247);
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 35px;
  text-align: left;
  width: 300px;
  position: relative;
  margin: auto;
}

.hero {
  background: url("images/img1.png") center/cover no-repeat;
}

  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .hero-content {
    padding: 200px 30px;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .section {
    padding: 60px 30px;
  }
}

/* ACTIVE MENU */
.nav a.active {
  font-weight: 600;
  border-bottom: 2px solid #a85a2a;
}

/* GALERIE NUR BILDER */
.gallery-only {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.gallery-grid img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}


@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid img {
    height: 220px;
  }

}

